@import 'flatly.css';
@import 'github-markdown.css';
@import 'admin.less';


body {
    padding-top: 0px;
    //min-height: 2000px;
}

.navbar-static-top {
    margin-bottom: 19px;
}

.page-header {
    padding-left: 35px;
}

#cart {
    margin-top: 8px;
    background: #3498DB;

    .nrOfItems {
        margin-left: 10px;
    }
}
/*
img {
    opacity: 0;
    transition: opacity .3s ease-in;
}
*/
.thumbnail {
    border: 4px solid #ecf0f1;
}

#cart-box {
    color: #ccc;
    display: none;
    position: absolute;
    padding-left: 0;
    padding-right: 0;
    background: #2c3e50;
    right: -15px;
    z-index: 10000000;
    margin-top: -40px;

    #total {
        margin-left: 40px;
    }

    .price {
        margin-right: 15px;
    }

    .btn-cart {
        width: 100%;
        background: #2c3e50;
    }

    .btn {
        width: 100%;
    }

    @media screen and (min-width: 1900px) {
        width: 700px;
    }


}

.cart-list {
    list-style: none;
}

.second-nav {
    text-align: center;

    .btn {
        width: 200px;
    }

    span {
        margin-left: 5px;
    }
}

.price {
    h3 {
        padding-right: 5px;
        padding-bottom: 5px;
        color: #2077b2;
    }
}


.product {
    .qty {
        margin-left: 20px;
        .a, .b, .c {
            padding-left: 10px;
        }

        .b {
            margin-bottom: 3px;
        }
    }
}




.twitter-typeahead {
    width: 300px;

}

.tt-query,
.tt-hint {
    //width: 300px;
    height: 30px;
    padding: 8px 12px;
    font-size: 24px;
    line-height: 30px;
    border-radius: 8px;
    outline: none;
}

.tt-query {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999
}

.tt-dropdown-menu {
    width: 300px;
    margin-top: 12px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
    padding: 3px 20px;
    font-size: 18px;
    line-height: 24px;
}

.tt-suggestion.tt-is-under-cursor { /* UPDATE: newer versions use .tt-suggestion.tt-cursor */
    color: #fff;
    background-color: #0097cf;

}

.tt-suggestion p {
    margin: 0;
}
