//@import '../components/components-bootstrap/css/bootstrap.min.css';
@import 'flatly.css';
@import 'admin.less';

body {
    padding-top: 0px;
    //min-height: 2000px;
}

.navbar-static-top {
    margin-bottom: 19px;
}

.page-header {
    padding-left: 15px;
}

#cart {
    margin-top: 8px;
}

#cart-box {
    display: none;
    padding-left: 0;
    padding-right: 0;
    z-index: 10000;
    margin-top: -40px;
    border-left: 5px solid;
    border-right: 5px solid;
    border-bottom: 5px solid;

    #total {
        margin-left: 5px;
    }

    .btn-cart {
        width: 100%;
        background: #2c3e50;
    }
}

