//@import '../components/components-bootstrap/css/bootstrap.min.css';
@import 'flatly.css';
@import 'admin.less';

body {
    padding-top: 0px;
    //min-height: 2000px;
}

.navbar-static-top {
    margin-bottom: 19px;
}

.page-header {
    padding-left: 15px;
}

